@import "tailwindcss";

@theme {
  --color-primary: #165539;
  --color-primary-dark: #11422c;
  --color-background-light: #f6f8f7;
  --color-background-dark: #131f1a;
  --color-success: #00c853;
  --color-warning: #ffab00;
  --color-critical: #d50000;
  --color-info: #3498db;

  --font-display: "Space Grotesk", sans-serif;
}

@layer base {
  body {
    font-family: var(--font-display);
    @apply bg-background-light dark:bg-background-dark;
  }
}

/* Material Symbols */
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
